PORT=4000
JWT_SECRET=troque_esse_valor_por_um_segredo_forte
JWT_EXPIRES_IN=12h
# URL(s) do frontend que podem chamar essa API (separadas por virgula)
CORS_ORIGIN=http://localhost:5173

# Conexão com o banco de dados PostgreSQL (Docker)
PGHOST=localhost
PGPORT=5432
PGUSER=eventlogistics
PGPASSWORD=eventlogistics_secret
PGDATABASE=eventlogistics_db
